# Основы математической статистики. Количественные характеристики популяции. Графическое представление данных

### Задача №1
Даны значения зарплат из выборки выпускников:
100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150
 
Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.), посчитайте (несмещённое) среднее квадратичное отклонение для данной выборки.

In [24]:
salary = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150]

In [25]:
avg = sum(salary) / len(salary)
avg

73.14285714285714

In [26]:
# s = 0

# for n in range(len(salary)):
#     s += (salary[n] - avg) ** 2

In [27]:
s = sum([(salary[n] - avg) ** 2 for n in range(len(salary))])

In [28]:
print(f'Ответ: {round((s / (len(salary) - 1)) ** (1/2), 8)}')

Ответ: 47.34795214

### Задача №2

Найдите число выбросов в выборке из задачи 1. Для определения выбросов используйте методику как при построении “усов” в boxplot, однако, как и в задаче 1, пользоваться можно только встроенными функциями и структурами данных.

In [29]:
salary.sort()

In [30]:
len(salary) % 4

1

In [31]:
q1, q3 = salary[len(salary) // 4], salary[3 * len(salary) // 4]

In [32]:
q1, q3

(45, 84)

In [33]:
iqr = q3 - q1
iqr

39

In [34]:
boxplot_range = (q1 - 1.5 * iqr, q3 + 1.5 * iqr)
boxplot_range

(-13.5, 142.5)

In [35]:
# n = 0

# for i in range(len(salary)):
#     if salary[i] < boxplot_range[0] or salary[i] > boxplot_range[1]:
#         n+= 1

In [36]:
outliers = [salary[i] for i in range(len(salary)) if salary[i] < boxplot_range[0] or salary[i] > boxplot_range[1]]

In [37]:
print(f"Ответ: {len(outliers)}")

Ответ: 2

### Задача №3

В университет на факультет A поступило 100 человек, на факультет B - 90 человек и на факультет C - 45 человек. Вероятность того, что студент с факультета A сдаст первую сессию, равна 0.6. Для студента с факультета B эта вероятность равна 0.7, а для студента с факультета C - 0.8. Случайным образом выбирается студент, сдавший первую сессию. Какое событие наиболее вероятно:
студент учится на факультете A,
студент учится на факультете B,
студент учится на факультете C?
Замечание: да, эта задача не на тему статистики, но тема важная, и её стоит иногда освежать в памяти.

In [38]:
a, b, c = 100, 90, 45

In [39]:
palla, pallb, pallc = 0.6, 0.7, 0.8

In [40]:
n = a + b + c

In [41]:
pall = palla * (a / n) + pallb * (b / n) + pallc * (c / n)

In [42]:
pall

0.676595744680851

In [43]:
paall, pball, pcall = (palla * a / n)/pall, (pallb * b / n)/pall, (pallc * c / n)/pall

In [44]:
paall, pball, pcall

(0.3773584905660377, 0.39622641509433953, 0.22641509433962265)

In [ ]:
max(paall, pball, pcall)

Ответ: 2 (наиболее вероятно, что студент учится на факультете B)